//- In this scope, i = the implementation data
- var impl = i._source;
li.implementation(class=[i._id,(impl.language).replace(' ', '-')])
  .language
    span.title= "Language: "
    span.lang= impl.language
  .source
    span.title= "Source: "
    span.name= impl.source
  if impl.source === 'npm'
    .npm
      a(href='http://www.npmjs.org/' + impl.instruction.package)
        h1.package= impl.instruction.package
      code.install= impl.instruction.command
      .markdown!= impl.instruction.html
  else
    .source-code
      ul.lines
        for line in impl.implementation
          li.line
            if line.type === 'code'
              pre
                code.code(class=impl.language)= line.content
            else if line.type === 'commentary'
              p.commentary= line.content