extends layout

block content
  header
    .row
      h1.logo AlgoDB
      .stats
        h3
          strong= count_summary.algorithm
          span  algorithms
        h3
          strong= count_summary.category
          span  categories
        h3
          strong= count_summary.implementation
          span  implemenatations
    form.row
      input.query-input(name='q' value=query placeholder='merge sort, md5, a*')
      input.submit(type='submit' value='search!')
  .results
    if search.hits
      - var numResults = search.hits.length;
      if numResults
        - var resultsTitle = numResults + ' Result' + (numResults === 1 ? '' : 's');
        h2.results.title= resultsTitle
        for h in search.hits
          - var hit = h._source;
          .result
            .name= hit.name
            p.description= hit.description
            h3.categories.title Categories
            ul.categories
              for c in hit.categories
                li.category= c
            if h.implementations.length
              h3.implementations.title Implementations
              ul.implementations
                for i in h.implementations
                  include ./implementation
            else
              h3.implementations.title No Implementations Found
      else
        h2.results.title.empty= 'No search results for "' + query + '"!'
    else
      h2.results.title Please enter a query.

  footer
    .languages
      ul.list
        for l in languages
          li.lang(style='color:'+l.color)
            span.title= l.language
            span.count= ' (' + l.count + ')'
    p Made with 💖by
    ul
      li: a(href='http://github.com/grant') grant
      li: a(href='http://github.com/gupta-ak') gupta-ak
      li: a(href='http://github.com/MinjingZhu') minjingzhu
      li: a(href='http://github.com/xkxx') xkxx